SPRING_PROFILES_ACTIVE=dev
PORT=8080

DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION=3600
JWT_REFRESH_EXPIRATION=604800

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
